{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link  rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="content">
    <h1>Find Movies by Rating</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    {% if movies %}
        <h2>Movies:</h2>
        <ul>
            {% for movie in movies %}
                <li>{{ movie.0 }}</li>
            {% endfor %}
        </ul>
    {% elif movies is not None %}
        <p>No movie exists with this rating in the database.</p>
    {% endif %}
</div>
</body>
</html>
